<ion-header>
  <ion-toolbar>
    <p class="titulo_submenu1">MENÚ DE OPCIONES</p> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/panico" text="Regresar" color="secondary" >Regresar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="listaSubmenu1">
    <ion-item>
      <ion-icon color="secondary" slot="start" name="people-outline"></ion-icon>
      <ion-label color="light" routerLink="/submenu2" >Mis Contactos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" slot="start" name="create-outline"></ion-icon>
      <ion-label color="light" routerLink="/editarperfil" >Editar mi Perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" slot="start" name="log-out-outline"></ion-icon>
      <ion-label color="light" (click)='logout()' >Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>


  

  

</ion-content>
