<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">

  <div class="divContenedorInformacion">

    <ion-card class="animate__animated animate__backInDown">
      <ion-card-header>
        <ion-card-title>TU SEGURIDAD NUESTRA PRIORIDAD</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="textoInformacion">
          Esta aplicación te brinda todas las posibilidades para que te sientas seguro en cualquier sitio…
        </p>
        <br>
        <p class="textoInformacionNegrita">
          Recomendaciones:
          <br>
        </p>
        <br>
        <p class="textoInformacion">
          Tendrás un botón de pánico, pero debes tener autocuidado.
        </p>
        <br>
        <p class="textoInformacion">
          Nuestra promesa de valor es que tendrás a un agente CSI en segundos contactándote.
        </p>
        <br>
        <p class="textoInformacion">
          Ten a la mano tu red de apoyo actualizada, para que sea más fácil asistirte
        </p>
        <br>
        <p class="textoInformacion">
          CSI no es una aplicación que garantice los resultados, pero si los medios para que puedas alertar a tus seres
          queridos cuando estés en situación de riesgo inminente. Aceptar Política de Privacidad y Términos y
          condiciones.
        </p>
        <ion-button class="btn-AceptarInformacion" fill="solid" shape="round" expand="block" routerLink="/panico">Aceptar y
          Continuar</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>